In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('D:/Data.csv')

In [3]:
df.isnull().sum()
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
#filling missing value
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
df['Age'].fillna(df['Age'].mean(), inplace=True)
X=df[['Country', 'Age', 'Salary']]
y=df['Purchased']

In [5]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
LabelEncoder_y=LabelEncoder()
y=LabelEncoder_y.fit_transform(y)

labelencoder_X = LabelEncoder()
X['Countr'] = labelencoder_X.fit_transform(X['Country'])


#labelencoder_X = LabelEncoder()
#X['Labeled'] = labelencoder_X.fit_transform(X['Country'])

onehotencoder_X=OneHotEncoder(handle_unknown='ignore', sparse=False)
f=pd.DataFrame(onehotencoder_X.fit_transform(X[['Countr']]))
Xn=pd.concat([X,f],axis=1)
Xn

   Country        Age        Salary  Countr    0    1    2
0   France  44.000000  72000.000000       0  1.0  0.0  0.0
1    Spain  27.000000  48000.000000       2  0.0  0.0  1.0
2  Germany  30.000000  54000.000000       1  0.0  1.0  0.0
3    Spain  38.000000  61000.000000       2  0.0  0.0  1.0
4  Germany  40.000000  63777.777778       1  0.0  1.0  0.0
5   France  35.000000  58000.000000       0  1.0  0.0  0.0
6    Spain  38.777778  52000.000000       2  0.0  0.0  1.0
7   France  48.000000  79000.000000       0  1.0  0.0  0.0
8  Germany  50.000000  83000.000000       1  0.0  1.0  0.0
9   France  37.000000  67000.000000       0  1.0  0.0  0.0

In [20]:

Xn.drop(['Countr'],axis=1,inplace=True)

KeyError: "['Countr'] not found in axis"

In [9]:
Xn.columns

Index(['France', 'Age', 'Salary', 0, 1, 2], dtype='object')

In [25]:
Xn.columns=['Country', 'Age', 'Salary', "France", 'Germany', 'Spain']

ValueError: Length mismatch: Expected axis has 5 elements, new values have 6 elements

In [26]:
Xn.columns

Index(['Age', 'Salary', 'France', 'Germany', 'Spain'], dtype='object')

In [27]:

Xn

         Age        Salary  France  Germany  Spain
0  44.000000  72000.000000     1.0      0.0    0.0
1  27.000000  48000.000000     0.0      0.0    1.0
2  30.000000  54000.000000     0.0      1.0    0.0
3  38.000000  61000.000000     0.0      0.0    1.0
4  40.000000  63777.777778     0.0      1.0    0.0
5  35.000000  58000.000000     1.0      0.0    0.0
6  38.777778  52000.000000     0.0      0.0    1.0
7  48.000000  79000.000000     1.0      0.0    0.0
8  50.000000  83000.000000     0.0      1.0    0.0
9  37.000000  67000.000000     1.0      0.0    0.0

In [31]:
# Splitting Data

In [41]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(Xn, y, test_size=0.2, random_state=0)

In [29]:
x_test

    Age   Salary  France  Germany  Spain
2  30.0  54000.0     0.0      1.0    0.0
8  50.0  83000.0     0.0      1.0    0.0

In [36]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
x_train=sc_X.fit_transform(x_train)
x_test=sc_X.transform(x_test)

In [40]:
x_train.columns

AttributeError: 'numpy.ndarray' object has no attribute 'columns'